node_modules
.git
cdktf/*.d.ts
cdktf/*.js
cdktf/node_modules
cdktf/cdktf.out
cdktf/cdktf.log
cdktf/*terraform.*.tfstate*
cdktf/.gen
cdktf/.terraform
cdktf/tsconfig.tsbuildinfo
cdktf/!jest.config.js
cdktf/!setup.js
cdktf/*.md
cdktf/.env